.blackout {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #121212ed;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .2s;
}

.active-blackout {
    opacity: 1;
    transform: scale(1);
}

.details-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    width: 43.65rem;
    height: 44rem;
    z-index: 2;
    overflow: overlay;
}

.header {
    position: relative;
    height: 215px;
}

.sub-preview {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sub-preview::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: inset 300px 0px 90px 0px rgba(0, 0, 0, 0.872);
    -moz-box-shadow: inset 300px 0px 90px 0px rgba(0, 0, 0, 0.872);
    box-shadow: inset 300px 0px 90px 0px rgba(0, 0, 0, 0.872);
}

.sub-preview img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.logo{
    width: 40%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 60%;
}

.body {
    display: grid;
    margin: 1rem 1.5rem;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.sub-title {
    color: gray;
}

.preview {
    padding: 30px;
}

.genres-box span:not(:last-child)::after {
    content: ", ";
}

.inner-desc {
    margin-top: 7px;
}

.inner-desc hr{
    margin: 3px 0;
    border-color: #dadada29;

}