.right-info {
    display: flex;
    grid-area: right-info;
    position: relative;
    flex-direction: column;
    padding: 1.5rem 40px 16px 10px;
    gap: 18px;
}

.left-info {
    display: flex;
    grid-area: left-info;
    position: relative;
    flex: 1 1 59%;
    height: 300px;
    padding-right: 0.6rem;

}

.preview {
    flex: 1 1 41%;
    padding-right: 1rem;
    width: 180px;
    height: 270px;
    margin-top: 0.6rem;

}

.promo {
    flex: 1 1 59%;
    padding: 2rem 3rem;
}

.content {
    width: 100%;
    height: 100%;
}



.preview-asc {
    width: 180px;
    height: 270px;
}

.title {
    margin-top: 3px;
    width: 40%;
    height: 20px;
}

.synopsis {
    width: 100%;
    height: 140px;
}

.btns {
    display: flex;
    width: 100%;
    gap: 20px;
}

.btn-left {
    flex: 1;
    height: 40px;
}

.btn-right {
    flex: 1;
}