.menu-dropdown {
    background-color: #000000;
    left: 0;
    min-width: 20rem;
    opacity: 0;
    padding: 2rem 0 1.25rem;
    position: fixed;
    top: 50px;
    transform: translateY(20px);
    transition: transform .2s, opacity .6s, visibility .6s;
    visibility: hidden;
    width: 100%;
}

.user-dropdown {
    background-color: #000000;
    right: 0;
    min-width: 15rem;
    padding: 1.5rem 0;
    position: fixed;
    top: 50px;
    transform: translateY(20px);
    transition: transform .2s, opacity .6s, visibility .6s;
    opacity: 0;
    visibility: hidden;
    margin-right: 155px;
}


.active-tab-content {
    background-color: #000000;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-content {
    width: 1167px;
    margin: 0 auto;
    display: flex;

}

.text {
    opacity: .6;
}

.genres-wrapper {
    flex: 1;
    padding-left: 2.75rem;
}

.genres {
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 5px 0;
    grid-auto-flow: column;
}

.genre {
    display: block;
    padding: 5px 5px;
    position: relative;
}

.genre:hover {
    background-color: rgb(18, 18, 18);
}

.genre:active {
    background-color: rgb(14, 14, 14);
}

.menu-wrapper {
    display: flex;
    flex: 0 0 9rem;
    border-right: 1px solid rgba(255, 255, 255, 0.076);
    padding-right: 2.75rem;
}

.menu {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.menu-item {
    display: block;
    padding: 5px 5px;
    position: relative;
}

.menu-item:hover {
    background-color: rgb(18, 18, 18);
}

.menu-item:active {
    background-color: rgb(14, 14, 14);
}



/* User */

.avatar {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.avatar-wrapper {
    background-color: #252525;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    overflow: hidden;
    object-fit: cover;
}

.user-info {
    border-bottom: rgba(255, 255, 255, 0.138) solid 1px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem 1rem 1rem;
}

.user-info-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 18px;
}

.is-admin {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--main-color);
}

.user-dropdown-content {
    margin: 0;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.actions a {
    display: flex;
    gap: 4px;
    font-size: 15px;
    height: 30px;
    align-items: center;
    width: 100%;
    padding: 1.34rem 1.2rem;
}

.action {
    display: flex;
    gap: 4px;
    font-size: 15px;
    height: 30px;
    align-items: center;
    width: 100%;
    padding: 1.34rem 1.2rem;
}

.action-box:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.action-box:active {
    background-color: rgb(18, 18, 18);
}

.actions svg {
    width: 20px;
}

.admin-nav {
    border-top: 1px solid #dadada3b;
    border-bottom: 1px solid #dadada3b;
}


/* Edit Modal */

.blackout {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #121212ed;
    z-index: 1;
    overflow: hidden;
    transform: scale(1);
    opacity: 1;
    transition: opacity .2s;
}

.modal-wrapper {
    position: fixed;
    background-color: #000000;
    top: 20%;
    left: 40%;
    /* transform: translate(-50%, -50%); */
    min-width: 15rem;
    padding: 1.5rem 0;
    /* transition: transform .2s, opacity .6s, visibility .6s; */
    margin-right: 155px;
    height: 400px;
    z-index: 2;
}