.blackout {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #121212ed;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transform:scale(0);
    transition: opacity .2s;
}

.active-blackout {
    opacity: 1;
    transform: scale(1);
}

.details-wrapper {
    position: fixed;
    background-color: #000000;
    top: 20%;
    left: 40%;
    /* transform: translate(-50%, -50%); */
    min-width: 15rem;
    padding: 1.5rem 0;
    /* transition: transform .2s, opacity .6s, visibility .6s; */
    margin-right: 155px;
    height: 400px;
    z-index: 2;
}