.form-container {
    display: grid;
    grid-template-areas: "inputs preview";
    grid-template-columns: 33rem auto;
    gap: 2rem;
    margin-top: 1rem;
    border-bottom: 1px solid #dadada3b;
    border-right: 1px solid #dadada3b;
    border-left: 1px solid #dadada3b;
    padding: 1rem;
}


.inputs-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 1.5rem;
    grid-auto-rows:max-content;
}

.textarea {
    grid-column-start: -3;
    grid-column-end: -1;
}

.images-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.preview-image img {
    width: 154px;
    height: 231px;
}

.sub-preview-image img {
    width: 250px;
    height: 125px;
}

.logo-image img {
    padding: 10px;
    width: 70%;
}

.active-check {
    height: 26px;
    width: 30px;
    display: flex;
    flex-direction: column;
    font-size: 8px;
    align-items: center;
    user-select: none;
}

.action-btns {
    grid-column-start: -3;
    grid-column-end: -1;
    display: flex;
    gap: 10px;
    justify-content: end;
}

.submit-btn {
    border: 1px solid var(--main-color);
    font-weight: 300;
    font-size: 14px;
    padding: 4px;
    letter-spacing: 1px;
}

.span-column {
    grid-column-start: -3;
    grid-column-end: -1;
}

.error input, .error textarea{
    border-bottom: 1px solid red;
}

.error-file {
    border: 1px solid red;
}

.png-preview-image img {
    max-width: 200px;
    max-height: 400px;
}

.forms-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.form-name {
    font-weight: 400;
    color: #dadadab3;
}
