.action-body {
    min-height: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

thead tr {
    background-color: #0e0e0e;
}

.thead,
.tbody:not(:last-child) {
    border-bottom: 1px solid #dadada47;
}

.thead th:not(:last-child),
.tbody td:not(:last-child) {
    border-right: 1px solid #dadada47;
}

.thead th,
.tbody td {
    padding: 5px;
}

tbody tr:hover {
    background-color: #181818;
}


.title {
    max-width: 200px;
    min-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.actions {
    text-align: end;
    display: flex;
}

.actions button {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    display: inline-flex;
    align-items: center;
}

.nav-btns {
    text-align: end;
}

.arrow {
    width: 24px;
    height: 24px;
    fill: #dadada;
}

.arrow-left {
    transform: scaleX(-1);
}

.second-body {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1rem;
}

.table-area {
    min-height: 28.125rem;
}

.active-post svg {
    fill: var(--main-color);
}

.table-search-wrapper {
    display: flex;
    justify-content: space-between;
}

.total-posts{
    display: flex;
}

.total-posts p::after {
    content: '\00a0';
}

.total-posts p{
    color: gray;
}

.table-search {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dadada29;
}

.search-field {
    background-color: transparent;
    border: 0;
    padding: 2px 5px;
    color: #dadada;
    width: 15rem;
    font-style: italic;
}

.search-icon {
    width: 20px;
    text-align: center;
    position: relative;
    /* padding: 2px 5px; */
}

.search-icon:before {
    content: "";
    position: absolute;
    right: -1.3px;
    height: 15px;
    width: 1px;
    border-right: 1px solid #dadada29;
}
