.wrapper {
    grid-area: info;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wrapper h4 {
    font-weight: 400;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.avatar-wrapper {
    display: flex;
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
    background-color: #181818;
    height: 240px;
    width: 240px;
    position: relative;
    margin: 0;
}

.avatar img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* .avatar-edit {
    cursor: pointer;
    user-select: none;
}

.avatar-edit::after {
    content: "";
    background-color: transparent;
    border-radius: inherit;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .1s;
}

.avatar-edit:hover::after {
    background-color: #00000076;
} */

.pronouns {
    font-size: 12px;
    color: gray;
}

.name-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.permission {
    font-style: italic;
    color: var(--main-color);
}


.next-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.next-info span {
    color: rgb(140, 140, 140);
}

.edit-btn {
    padding: 2px 10px;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid var(--main-color);
    /* font-style; */
}

.edit-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.edit-action-btns {
    display: flex;
    gap: 10px;
    align-items: center;
}

.edit-action-btns button {
    font-size: 14px;
    padding: 2px 3px;
}

.uploader-box {
    border-radius: 50%;
    overflow: hidden;
    background-color: #181818;
    height: 240px;
    width: 240px;
    position: relative;
    margin: 0;
}

.file-uploader {
    width: 100%;
    height: 100%;
}

.file-uploader {
    cursor: pointer;
    user-select: none;
}

.file-uploader::before {
    content: "";
    background-color: transparent;
    border-radius: inherit;
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .1s;
}

.file-uploader:hover::before {
    background-color: #00000076;
}

.edit-button {
    background-color: #23252bb3;
    border-radius: 1.125rem;
    display: block;
    left: 50%;
    padding: 0.4375rem 1rem 0.5625rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .1s ease;
}

.file-uploader:hover .edit-button {
    opacity: 1;
}

.file-uploader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}