.content-wrapper {
    width: 1067px;
    margin: 0 auto;
}

.content {
    display: grid;
    grid-template-areas: "left-section right-section";
    grid-template-columns: 67% auto;
}

.desc-section {
    /* grid-area: left-section; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.next-section {
    grid-area: right-section;
    padding-left: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.second-heading {
    color: var(--span-color);
}

.heading-preview {
    width: 312px;
    height: 176px;
}

.synopsis {
    font-size: 15px;
}

.detail-table {
    display: flex;
    flex-direction: column;
    font-size: 15px;
}

.table-row {
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 -0.0625rem 0 0 #4a4e58;
    padding: 15px 0;
}

.categs {
    display: flex;
    align-items: center;
    gap: 0.724rem;
}

.categ-detail-wrap {
    border: 2px solid #898989;
}

.categ-detail {
    color: white;
    padding: 2px 15px;
    transition: all .2s;
}

.categ-detail:hover {
    background-color: #89898985;
}

.categ-detail:active {
    background-color: #4e4e4e85;
}

.desc-link {
    color: rgb(255, 255, 255);
}

.act-btn {
    margin-top: 15px;
}

.rating {
    display: flex;
    gap: 0.5rem;
}

.rating svg{
    color: #dadada;
}

.stars-controls {
    display: flex;
    align-items: center;
}

.stars-controls::after {
    background-color: #4a4e58;
    content: "";
    display: block;
    height: 1.25rem;
    margin-left: 0.5rem;
    width: 1px;
}

.avg-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.avg-number {
    font-weight: 600;
}

.action-btns {
    display: flex;
    gap: 1rem;
}

.mylist-link {
    display: flex;
}

.mylist-button {
    color: #a0a0a0;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    background-color: transparent;
    transition: background-color .2s, color .2s;
    display: flex;
    align-items: center;
    gap: 3px;
}

.mylist-button:hover {
    background-color: #181818;
    color: #dadada;
}

.mylist-button:active {
    background-color: #141414;
    color: #dadada;
}