.account-page__wrapper {
    width: 1067px;
    margin: 0 auto;
    margin-top: 3rem;
}

.account-page__grid {
    display: grid;
    grid-template-areas: 
    "info navbar"
    "info content";
    grid-template-columns: 15rem auto;
    grid-template-rows: auto 1fr;
    gap: 1rem 3rem;
}

