.skeleton-wrapper {
    width: 1043px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skeleton-container {
    display: grid;
    grid-template-columns: repeat(6, 153px);
    gap: 25px;
    margin-top: 3rem;
}

.skeleton-title {
    margin: 0 auto;
    width: 23rem;
    height: 20px;
}

.skeleton-sub-title {
    width: 30rem;
    height: 14px;
}